* {
  box-sizing: border-box;
}

.whatSInThis {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  padding: 96px 102px 0px 96px;
  width: 1200px;
  height: 720px;
  overflow: hidden;

  .autoWrapper {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    padding-right: 135px;
    padding-left: 0;

    .checkOutTheExamplesB {
      width: 716px;
      line-height: 72px;
      letter-spacing: -0.91px;
      color: #000000;
      font-family: Whyte, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 48px;
    }

    .vector133 {
      margin-top: 90px;
      width: 134px;
      height: 252px;
    }
  }

  .autoWrapper2 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 72px;
    padding-right: 0;
    padding-left: 6px;

    .image1 {
      border-radius: 4px;
      width: 300px;
      height: 437px;
      background-image: url(../image/mmhtc1of-4bp6775.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      filter: drop-shadow(0px 0px 4px #0000000f)
        drop-shadow(0px 2px 24px #00000029);
    }

    .image2 {
      border-radius: 4px;
      width: 300px;
      height: 213px;
      background-image: url(../image/mmhtc1of-ftfotp8.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      filter: drop-shadow(0px 0px 4px #0000000f)
        drop-shadow(0px 2px 24px #00000029);
    }

    .image3 {
      border-radius: 4px;
      width: 300px;
      height: 228px;
      background-image: url(../image/mmhtc1of-1bm3scw.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      filter: drop-shadow(0px 0px 4px #0000000f)
        drop-shadow(0px 2px 24px #00000029);
    }
  }
}
